.s-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-grey-light);
  transition: background-color 0.3s;
  border-radius: var(--border-radius-x3);
  margin-right: var(--a-padding-x2);
  padding: var(--a-padding-x2);

  @include _1140 {
    padding: var(--a-padding-x2);
    flex-direction: column;
    margin-right: var(--a-padding-x4);
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--a-padding-x2);
    width: torem(36);
    height: torem(36);
    position: relative;
    border-radius: var(--border-radius-x3);
    cursor: pointer;
    transition: 0.3s;
    margin-right: var(--a-padding-x1);
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      transition: 0.3s;
      background: var(--color-grey-light-hover);
    }

    .mdi {
      color: var(--color-second);
    }

    &._active {
      transition: 0.4s;
      background: var(--color-black);

      .mdi {
        color: var(--color-white);
      }
    }

    &-colored {
      &:hover {
        background: var(--color-grey-light-hover);
      }
      .a-lang {
        height: torem(36);
        width: torem(36);
        font-size: torem(13);
        line-height: 100%;
        background: transparent;
        transition: background 0.3s;
        color: var(--color-second);
      }
      &-first {
        margin-left: var(--a-padding-x1);
        @include _768 {
          margin-left: var(--a-padding-x2);
        }
        @include _1140 {
          margin-left: 0;
          margin-top: var(--a-padding-x2);
        }
      }
      .m-theme-switcher {
        svg {
          width: torem(18);
        }
      }
    }

    @include _768 {
      border-radius: var(--border-radius-x3);
      margin-right: var(--a-padding-x2);
      &:last-child {
        margin-right: 0;
      }
    }

    @include _1140 {
      width: torem(42);
      height: torem(42);
      margin-right: 0;
      margin-bottom: var(--a-padding-x2);
      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
    &-user {
      &::after {
        content: '';
        width: torem(1);
        height: torem(24);
        background: var(--color-black);
        position: absolute;
        right: calc(-1 * var(--a-padding-x1));
      }
      @include _768 {
        &::after {
          right: calc(-1 * var(--a-padding-x2));
        }
      }
      @include _1140 {
        &::after {
          width: torem(24);
          height: torem(1);
          right: unset;
          bottom: calc(-1 * var(--a-padding-x2));
        }
      }
    }
    &-settings {
      margin-left: auto;

      @include _1140 {
        margin: auto 0 var(--a-padding-x2) 0;
      }
    }

    &-icon {
      color: var(--color-second);
    }

    &-info {
      display: none;
    }
  }
}
