.a-lang {
  display: flex;
  align-items: center;
  justify-content: center;
  width: torem(40);
  height: torem(40);
  background: var(--color-white);
  border-radius: var(--border-radius-x2);
  font-size: torem(16);
  font-weight: 800;
}
