/* stylelint-disable */
:root {
  --color-main: #ffffff;
  --color-second: #49493f;
  --color-red-light: #e98074;
  --color-red: #e85a4f;
  --color-white: #fff;
  --color-black: #49493f;
  --color-brown: #d8c3a5;
  --color-grey: #8e8d8a;
  --color-grey-light: #f8fafc;
  --color-grey-light-hover: #e3e4e4;
  --color-grey-line: #eeeeee;
  --color-orange: #ff9400;
  --color-error: #ff5100;
  --color-orange: #f96e01;
  --color-yellow: #f4cf69;
  --color-blue: #09bae0;
  .dark-themes {
    --color-main: #49493f;
    --color-second: #eae7dc;
    --color-red-light: #e98074;
    --color-red: #e85a4f;
    --color-white: #fff;
    --color-black: #49493f;
    --color-brown: #d8c3a5;
    --color-grey: #8e8d8a;
    --color-grey-light: #656565;
    --color-grey-light-hover: #707070;
    --color-grey-line: #7d7d7d;
    --color-orange: #ff9400;
    --color-error: #ff5100;
    --color-orange: #f96e01;
    --color-yellow: #f4cf69;
    --color-blue: #09bae0;
  }
}
/* stylelint-enable */
