/* stylelint-disable */
:root {
  --color-main: #eae7dc;
  --color-second: #49493f;
  --color-red-light: #e98074;
  --color-red: #e85a4f;
  --color-white: #fff;
  --color-black: #49493f;
  --color-brown: #d8c3a5;
  --color-grey: #8e8d8a;
  --color-orange: #ff9400;
  --color-error: #ff5100;
  --color-orange: #f96e01;
  --color-yellow: #f4cf69;
  --color-blue: #09bae0;
  .dark-themes {
    --color-main: #49493f;
    --color-second: #eae7dc;
    --color-red-light: #e98074;
    --color-red: #e85a4f;
    --color-white: #fff;
    --color-black: #49493f;
    --color-brown: #d8c3a5;
    --color-grey: #8e8d8a;
    --color-orange: #ff9400;
    --color-error: #ff5100;
    --color-orange: #f96e01;
    --color-yellow: #f4cf69;
    --color-blue: #09bae0;
    .s-header__login-image {
      filter: invert(1);
    }
  }
}
/* stylelint-enable */
