.s-auth {
  width: 100%;
  background:
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)),
    url('/public/images/login/login-mobile.jpg') center no-repeat;
  background-size: cover;
  color: var(--color-second);
  padding: var(--a-padding-x4) 0 var(--a-padding-x8);

  @include _1140 {
    background: var(--color-white);
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__top {
    display: flex;
    flex-direction: row-reverse;
  }

  &__center {
    height: 100%;
    margin: var(--a-padding-x8) 0 var(--a-padding-x4);
    @include _768 {
      margin: var(--a-padding-x20) 0 var(--a-padding-x4);
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }

  &__main {
    background: var(--color-white);
    border-radius: var(--border-radius-x2);
    padding: var(--a-padding-x14) var(--a-padding-x8) var(--a-padding-x10);
    max-width: torem(420);
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    margin-bottom: torem(16);
    color: var(--color-second);
    font-size: torem(24);
    font-weight: 700;
    line-height: 135%;
    text-align: center;

    @include _768 {
      font-size: torem(28);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    &-input {
      width: 100%;
      min-height: torem(40);
      margin-bottom: torem(10);
      padding: 0 torem(8);
      color: var(--color-second);
      border-radius: var(--border-radius-x1);
      background: var(--color-white);
      border: torem(1) solid var(--color-grey);
      font-size: torem(16);
      font-weight: 400;
      outline: none;
    }

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: torem(40);
      color: var(--color-white);
      background: var(--color-orange);
      border: none;
      border-radius: var(--border-radius-x1);
      outline: none;
      font-size: torem(16);
      font-weight: 600;
      cursor: pointer;
    }

    &-error {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: torem(46);
      margin: torem(8) auto 0;
      color: var(--color-white);
      background: var(--color-error);
      border-radius: var(--border-radius-x1);
      font-size: torem(14);
      font-weight: 700;
      -webkit-user-select: none;
      user-select: none;
    }
  }

  &__text {
    display: block;
    margin: 1rem auto;
    font-size: torem(16);
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: torem(40);
    color: var(--color-black);
    background: transparent;
    border: torem(2) solid var(--color-orange);
    border-radius: var(--border-radius-x1);
    outline: none;
    font-size: torem(14);
    font-weight: 400;
    cursor: pointer;
  }

  &__help {
    display: block;
    margin: 2rem auto 0;
    font-size: torem(14);

    &-bold {
      font-weight: 800;
    }
  }
}
