:root {
  .font {
    &-title {
      font-size: torem(32);
      font-weight: 600;
    }

    &-text {
      font-size: torem(18);
    }

    &-popup {
      &-title {
        font-size: torem(24);
        line-height: 120%;
      }

      &-text {
        font-size: torem(18);
        line-height: 120%;
      }
    }
  }
}
